<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
    <link th:href="@{/css/styles_home.css}" rel="stylesheet" />

</head>
<body>
    <!-- Barra de navegación -->
    <header class="navbar">
        <div class="logo">Sistema Biometrico</div>
        <a th:href="@{/login}" class="btn-signup">Sign Up</a>
        
    </header>

    <!-- Sección principal -->
    <section class="hero-section">
        <div class="hero-content">
            <h1>SEGURIDAD <br> TECNOLOGICA</h1>
            <p>Invertir en un sistema informático biométrico no solo optimiza la seguridad, sino que también aumenta la eficiencia operativa y garantiza el cumplimiento normativo al proteger datos sensibles de manera avanzada y confiable.</p>
            
        </div>
        <div class="hero-image">
            <img th:src="@{/images/home_security.jpg}" alt="Biometrico">
        </div>
    </section>

    <!-- Pie de página -->
    <footer>
        <p class="footer-names">
            <span>Julio Vizñay</span>
            <span>Alexander Quinga</span>
            <span>Luis Sigsig</span>
            <span>Eduwin Guaman</span>
        </p>
        <p>
            CREADORES
        </p>
    </footer>
</body>
</html>
